.check-mn{
    margin-top: 120px;
    min-height: calc(100vh - 40px);
    color: lighten($color: $purple, $amount: 20);
    p{
        color: $pink;
        a{
            color: $pink;
 
        }
    }
    button{
        padding-right: 10px;
        padding-left: 10px;
    }

  
    .footer{
        color: $pink;
        display: inline-block;
        padding: 0px 5px;
    }

 


    #checkout{
        h6{
        color: lighten($color: $purple, $amount: 20);
        font-size: large;
        font-weight: normal;     
        }
        .first{
            font-size: x-large;
            font-weight: bold;
        }
        .table-cell
        {
            border-bottom: 0.5px solid lighten($color: $purple, $amount:20);
        }
        .total{
            margin-bottom: 120px;
        }

    

        .form-control{
            border-color: $pink;
        }
        
        label{
            color: lighten($color: $purple, $amount:20);
        }



    }
}

.container-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
}
    
/* Hide the browser's default radio button */
.container-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
    
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
    
/* When the radio button is checked, add a pink background */
.container-check input:checked ~ .checkmark {
    background-color: $pink;
}
    
    
.custom-select{
    border-color: $pink !important;
    background: none !important;
    color: $pink !important;
    background-color: transparent;
}  

 
