#mn-contact{
    margin-top: 120px;
min-height: calc(100vh - 40px);
color: lighten($color: $purple, $amount: 20);
.cls{
    cursor: pointer;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
}

.mainbox{
  
    .title{
        color: white;
        background-color: $pink;
        text-align: center;
    }
  
}
.dif{
    font-weight: bold;
    font-size: larger;
}
.help{
    h6{
        font-size: x-large;
        &:hover{
            text-decoration: underline;
        }
        i{
            color: $pink;
        }
    }
  
    }
    .help-clicked{
        color: white;
        background-color: $purple;
        i{
            color: white !important;
        }
        h6:hover{
            text-decoration: none;
        }
    }
    .ans{
        .title{
            color: $pink ;
                        
        } 
        a{
            color: $pink;
        }
  
}
.contactus{

    a{
        i{
            color: white;
        }
    }
}


#mob-accordion{
    .btn-link{
        text-decoration: none !important;
    }
    span.title{
        font-size: x-large !important;
        color: lighten($color: $purple, $amount: 20);
    
    }
    .card-header{
        padding: 0;
    }
    a{
        color: $pink;
    }
}

}