.shop-desk
{
    &:hover
    {

    width: 350px !important; 
    }
}



  .type-desk{
    &:hover{
      p{
      width: 80% !important;
      }
  }   
  }




// in touch
  .ftr{
   a{
      text-decoration: none !important;
  }
  }