.mega-menu
{
  position: static;

  left: 0;
  right: 0;
  top: 50px;
  padding: 0;
  color: $pink;
  h3{
      font-size:xx-large;
      font-weight: bold;
      color:$purple;
  }

}

.mega{
    
    .row
    {
        height: 460px;
    }
    .card{
        border: none ;
        height: 400px;
        img {
            height: 300px ;
            width: 100%;
        }
        h5{
            font-size:large ;
            color: $purple;
        }
    }
}
.cart{
    span a{
        color: $purple !important;
    }
    width:320px;
    left:52%;
    color: $purple;
    z-index: 2000;
    .row
    {
        height: auto;
    }
    h6{
        font-weight: bold;
    }
    
    .content
    {
        height: 420px;
        overflow-y: auto;
    }
    }
.kids-page
{
    background-image: url(../images/kids-page.webp);
    @extend %backgroundImg;
     background-position: top center !important ;

}
.womans-page
{

    background-image: url(../images/womans-page.jpg);
    @extend %backgroundImg;

}
.men-page
{

    background-image: url(../images/men-page.webp);
    @extend %backgroundImg;
     background-position: top center !important;

}