.mega-menu
{
  position: static;
  left: 0;
  right: 0;
  top: 50px;
  padding: 0;
  color: $pink;
  h3{
      font-size:xx-large;
      font-weight: bold;
      color:$purple;
    }

}

.mega{
    
    .row
    {
        height: 460px;
    }

}
.cart{
    max-height: 82vh !important;
    span a{
        color: lighten($color: $purple, $amount: 20) !important;
    }
   
    width:350px;
    left:60%;
    color:lighten($color: $purple, $amount: 20);
    z-index: 2000;
    .row
    {
        height: auto;
    }
    h6{
        color: lighten($color: $purple, $amount: 20) !important;
        font-weight: bold;
        &:hover{
            text-decoration: underline;

        }
    }
    
    .content
    {
        height:300px;
        overflow-y: auto;
    }
}

.wish{
    left: 50%;
    .recent{
        color: $pink !important;
        &:hover{
            text-decoration: none;
        }
    }
}

.kids-page
{
    background-image: url(../images/kids-page.webp);
    @extend %backgroundImg;
    background-position: top center !important ;

}
.womans-page
{
    background-image: url(../images/womans-page.jpg);
    @extend %backgroundImg;
}

.men-page
{
    background-image: url(../images/men-page.webp);
    @extend %backgroundImg;
    background-position: top center !important;
}