%style
{
  font-family: $special-font;
  font-weight: bold;
  font-size: large;
}

.my-nav
{
 
    margin: 0;
    padding-top: 0 !important;
    padding-bottom:0 !important;
 @extend %style;
 
  li a{
    color: white !important ;
  }
    }
  
   
    .dropdown{
      cursor: pointer;
      color: white;
    
    .drop{
      background: none;
      border: none;
      outline: none;
    }
      .dropdown-toggle::after { 
        content: none; 
    } 
      .dropdown-menu
      {
        
        border: none;
        background-color: white !important;

      .dropdown-item
      {
        color:$pink !important;
        &:hover{
          background-color: $light-pink !important;
        }
      }
      .dropdown-header
        {
          font-weight: bold;
          color:$purple !important;
          font-size: larger;
        }

       
      
    }
  
  }
  .brand
  {
    color: $pink !important;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    
  }
  
    


          
//nav after scrolling
.nav1
{
  background-color: $purple;

}

.navbar-toggler{
  border: none !important;
  padding: 0;
  margin: 0;
}
