#ourproducts
{
    margin-bottom: 100px;
  .s
  {
    margin-top: 50px;
    height:600px;
    overflow: hidden;
    transition: all .35s;
    img{
      height: 100%;
      width: 100%;
    }
  
  }

}