#services
{
margin-top: 80px;
margin-bottom: 80px;
    h5 
    {
        color: $pink;
        font-size:x-large;
    }
    p
    {
        font-weight: normal;
        color: gray;
        font-size: large;
    }
}