#shoptops{
    
    h5{
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    a{
        color: $pink;
    
    &.btn{
        position: relative;
        width: 250px;
        margin-top: -20px;
    }
    }


}