#shoptops{

    a{
        color: $pink;
        h5{
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    &.btn{
        position: relative;
        width: 250px;
        margin-top: -20px;
        transition: all .35s;
        &:hover{
            background-color:lighten($color: $pink, $amount: 10);
            border-color:lighten($color: $pink, $amount: 10) ;
        }
    }
    }


}