#shoptops{

    a{
        color: $pink;
        h5{
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    &.btn{
        position: relative;
        width: 250px;
        margin-top: -20px;
    }
    }


}