#stock {
    width:100%;
    overflow-x: auto;
    white-space: nowrap;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none ;

}

    scrollbar-width: none;
   .stk{
  
       width: 245px;
       height: fit-content;
       display: inline-block;
       cursor: pointer;
    
       .details{
        background-color:rgb(228, 224, 224); 
        position: relative;
        bottom: 72px;
        -webkit-font-smoothing: antialiased;
        transition: opacity .35s;
        opacity: 0;
        
        }
        &:hover{
            .details{  
                opacity: .8;
            }
        }
   }
}


