
.mn{
    margin-top: 100px ;
    margin-bottom: 100px;
    min-height: calc(100vh - 40px);
   span{
        color:$pink;
        font-size: initial;;
        font-weight: normal;
    }
    .colors{

        position: absolute;
        bottom: 80px;
        width: 70%;
        height: 30px;
        left:6%;
      
    }
    h5{
        color: $pink;
        font-size: xx-large;
    }
}
.item{
    
    &:hover{
        
    
        .fav,.img11,.quick-add{
            opacity: 1;
        }
        .img1{
            opacity: 0;
        }
        
    }
    .fav{
        position: absolute;
        top: 10px;
        right: 27px;
        transition: all .5s;
        opacity: 0;
    }
    .img11{
        transition: all 1s;
        opacity: 0;
    }
    .img1{
        opacity: 1;
        transition: all 1s;
    }

    

    .quick-add{
        overflow: hidden;
        width: 70%;
        height: 40px;
        position: absolute;
        bottom:120px;
        left: 15%;
        text-align: center;
        transition: all  .5s ;
        opacity: 0;
        background-color: $pink;
        .size{
            span{
                cursor: pointer;
                padding: 5px;
                color: lighten($color: white, $amount: 20);
                &:hover{
                    border: 1px solid white;
                }
            }
            opacity: 0;
            transition: all .5s;
        }
        .q1{
            color: lighten($color: white, $amount: 20);
            font-weight: bold;
            
        }
                
    
        &:hover{

            height: 80px;
            .size{
                opacity: 1;
            }

        }    
    }
            

}
.sold{
    text-decoration: line-through;
}
.colors{

    span{
        display: inline-block;
        width: 30px;
        height: 30px;        
    }
    .navy
    {
        background-color: navy;
        cursor: pointer;

    }
    .vintagewhite
    {
        background-color:#eff1f1;
        cursor: pointer;

    }
    .red-flowry{
        background-image: url(../images/redflowry.jpg);
        cursor: pointer;

    }
    .blue-flowry{
        background-image: url(../images/blueflowry.jpg);
        cursor: pointer;

    }
}

.clr2{
    cursor: pointer;
}

  
   
     
  

        
    


     
       
    
    
